@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  flex: 1 1 auto;
  min-width: 300px;
  padding: 10px;
  background-color: #FAFBFC;
}

@media (max-width: 1200px) {
  /* Стили CSS для ширины от 992px до 1200px */
  /* Устройства со средним экраном (ноутбуки и компьютеры)*/
}
@media (max-width: 992px) {
  /* Стили CSS для ширины от 768px до 992px */
  /* Устроства с маленьким экраном (планшеты) */
}
@media (max-width: 767px) {
  /* Стили CSS для ширины до 768px */
  /* Устройства с очень маленьким экраном (смартфоны) */
}
.IDE-block {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #c5c5c5;
}

.IDE-block > div {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font: 20px "Calibri", sans-serif;
  background-color: transparent;
  color: black;
  border: 1px solid #000;
}
.IDE-block > div:last-of-type {
  color: transparent;
  caret-color: dodgerblue;
}
.IDE-block > div:last-of-type::-moz-selection {
  background-color: rgba(30, 144, 255, 0.5);
}
.IDE-block > div:last-of-type::selection {
  background-color: rgba(30, 144, 255, 0.5);
}

.keyword {
  display: inline;
  font: inherit;
  color: blueviolet;
}