@import "./null-style.scss";

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  flex: 1 1 auto;
  min-width: 300px;
  padding: 10px;
  background-color: #FAFBFC
}
@media (max-width: 1200px) {
  /* Стили CSS для ширины от 992px до 1200px */
  /* Устройства со средним экраном (ноутбуки и компьютеры)*/

}
@media (max-width: 992px) {
  /* Стили CSS для ширины от 768px до 992px */
  /* Устроства с маленьким экраном (планшеты) */
  
}
@media (max-width: 767px) {
  /* Стили CSS для ширины до 768px */
  /* Устройства с очень маленьким экраном (смартфоны) */
  
}

.IDE-block{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #c5c5c5;
  border-radius: 10px;
}

.IDE-block > div {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  border-radius: inherit;
  font: 20px "Calibri", sans-serif;
  background-color: transparent;
  color: black;
  border: 1px solid #000;
  &:last-of-type{
    color: transparent;
    caret-color: dodgerblue;
  }
}




.keyword {
  display: inline;
  font: inherit;
  color:blueviolet;
}
